<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Equal Opportunity</title>
    <link href="../static/bootstrap.min.css" rel="stylesheet" media="screen">

      <style>
          body{
          background-color:beige;
          }
      </style>

</head>
<body style="margin-left:3%">
<div style = " position: relative; top: 5%">
  <h1 class = "text-center" style = "font-size: 100px;">About Equal Opportunity </h1>
<p style="margin-right:40%;">Our goal is to help <strong>level the playing field</strong> for students applying for internships and <strong>give applicants control</strong> over how they present themselves to employers.</p>

<h3>How are we doing this?</h3>

<p style="margin-left:2.5%; margin-right:50%;">Employers will consider an applicant twice:
    "First Review" only considering merit, and "Second Review" revealing 'personal data' about the applicant.
    Both employers AND applicants can choose what information they want visible during the first application inspection.
    Personal information is revealed only after employers get a sense of applicants' relevant skills and merit.</p>

<h3>Why should employers overlook personal information during the first application review?</h3>

<h3>What does the application process look like?</h3>
    <ol>
        <li><strong>Employers create a job opening.</strong></li>
        <ol type="a">
            <li>An employer may specify minimum statistical requirements of applicants.</li>
                <p style="margin-top:0%; margin-left:2%; margin-right:50%;">Ex. Minimum 3.0 GPA</p>

         </ol>
        <li><strong>Employers choose what to overlook during their first application review.</strong></li>
        <ol type="a">
            <li><p style="margin-right:60%; margin-top:0%">When employers select a checkbox next to an information input field, that information is <em><u>automatically censored during the first review.</u></em> </p></li>
        </ol>
        <li><strong>Applicants submit and choose which additional information to censor during first review</strong></li>
        <ol type="a">
            <li><p style="margin-right:60%; margin-top:0%; margin-bottom:0%">When applicants select a checkbox next to an information input field, that information is <em><u>automatically censored during the first review.</u></em> </p></li>
            <ol type="i">
                <li><p style="margin-right:65%; margin-top:0%; margin-bottom:0%">Even if an employer did not choose to censor that information when publishing the application, the <strong>applicant has control over what they want an employer to notice first</strong> about them by allowing them the option to further censor more information.</p></li>
                <ol type="1"
                    <li><p style="margin-right:65%; margin-top:0%">Note: this information will eventually be disclosed to employers during second review.</p></li>
            </ol>
        </ol>
        </ol>
    </ol>

<h4>Will this solve everything?</h4>
    <p style="margin-left:0%; margin-right:39%">No. Equity issues are embedded into the framework of our society; it must be acknowledged that our website does not get to the root of this issue. However, through our unique application process, we hope to help mitigate the effects of inequity in hiring situations.</p>
<br><br><br><br><br><br>
</div>
</body>
</html>