<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Open Applications</title>
        <style>
        body {
        background-color: beige;
        }
      table,
      th,
      td {
        padding: 10px;
        border: 1px solid black;
        border-collapse: collapse;
      }
    </style>
   </head>
   <body>
   <h1 align="center">Open Applications</h1>
      <table align="center">
      <tr>
         {% for header in headings %}
         <th>{{header}}</th>
         {% endfor %}
      </tr>
         {% for row in data%}
         <tr>
            {%for cell in row%}
            <td> {{cell}}</td>
            {% endfor %}
            <tr>
         {% endfor %}

      </table>
   </body>
</html>