<form action= "{{ url_for('applicationform') }}" method = "POST">
    <p>Name <input type = "text" name = "Name" /></p>
    <p>City <input type = "text" name = "City" /></p>
    <p>Country <input type = "text" name = "Country" /></p>
    <p>GPA <input type = "text" name = "GPA" /></p>
    <p>Work Eligibility <input type = "text" name = "Work Eligibility" /></p>
    <p>Cover Letter <input type = "text" name = "Cover Letter" /></p>
    <p>Resume <input type = "text" name = "Resume" /></p>
    <p><input type = "submit" value = "Submit" /></p>
</form>